.page_title{
    padding: 70px 0 91px;
}
/* Video */
.home_video {
    position: absolute;
    height: 561px;
    width: calc( 100% - 60px);
    overflow: hidden;
    top: 100%;
    transform: translateY(-50%);
}
.home_video video{
    width: 100%;
}
/* Services */
.service_icon{
    width: 101px;
    height: 101px;
    background-position: center;
    background-size: cover;
}
.home_services{
    padding: 400px 0 150px;
    background: #3E3E3E;
}
.home_services_list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.home_services_list li{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 55px 0;
}
.home_services_list li:not(:last-child){
    border-bottom: 1px solid #E5E5E5;
}
.service_icon_block{
    flex-basis: 15%;
}
.service_icon_block div{
    max-width: 101px;
}
.service_icon_block svg{
    width: 100%;
    height: 100px;
}
.path {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: dash 5s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
.service_title{
    flex-basis: 55%;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: normal;
}
.service_description{
    flex-basis: 30%;
    font-size: 18px;
    line-height: 180%;
    color: #FFFFFF;
}

/* Achieve */
.home_achievements{
    padding: 100px 0 148px;
}
.home_achievements .heading{
    padding-bottom: 100px;
}
.achieve_block{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    padding: 60px 0 68px;
    height: 100%;
}
.achievement_big {
    font-weight: 600;
    font-size: 96px;
    line-height: 96px;
    color: #1C1A1B;
    text-align: center;
}
.achievement_small {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: capitalize;
    color: #1C1A1B;
}
.hidden-for-mob{
    margin-bottom: 120px;
}
.member_image{
    background-color: #F7F7F7;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    width: 100%;
    height: 360px;
}
.member_name{
    font-size: 30px;
    line-height: 35px;
    text-transform: capitalize;
    color: #1C1A1B;
    margin-top: 30px;
}
.member_position{
    font-size: 18px;
    line-height: 180%;
    text-transform: capitalize;
    color: #767373;
    margin-top: 14px;
}
.home_achievements .row .col-lg-4:nth-child(n+4){
    margin-top: 100px;
}
/* Partners */
.home_partners{
    background: #3E3E3E;
    padding: 100px 0;
}
.home_partners .heading{
    margin-bottom: 102px;
}
.partners_image{
    max-width: 200px;
    width: 100%;
    margin: 30px 0;
}
/* Projects */
.home_projects{
    padding: 100px 0;
}
.home_projects_list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.home_projects_filter{
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.home_projects_filter::-webkit-scrollbar {
  display: none; 
}
.home_projects_filter_body{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    padding: 67px 0 24px;
    white-space: nowrap;
    border-bottom: 1px solid #E5E5E5;
    min-width: 1200px;
}
.module-border-wrap {
    position: relative;
    padding: 1px;
    border-radius: 6px;
    overflow: hidden;
}
.module-border-wrap.active {
    background: linear-gradient(to right, #FC4A4A, #DC26FA);
}
.module {
    background: #fff;
    font-family: Suisse Intl;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%; 
    border: 0; 
    border-radius: 5px;
    padding: 10px 20px;
}
.module-border-wrap:hover{
    background: linear-gradient(to right, #FC4A4A, #DC26FA);
}
.home_projects_video{
    width: 100%;
    position: relative;
}
.video_no_play{
    display: block;
    position: absolute;
    top: calc(50% - 65px);
    left:  calc(50% - 65px);
    width: 130px;
    height: 130px;
    z-index: 10;
}
.home_projects_list li.no_thumbnail {
    align-items: center;
    min-height: 130px;
}
.home_projects_list li.with_thumbnail {
    padding: 81px 0;
}
.home_projects_list li.with_thumbnail.align-content-center{
    padding: 44px 0;
}
.home_projects_list li:not(:last-child){
    border-bottom: 1px solid #E5E5E5;
}
.project_title{
    font-size: 30px;
    line-height: 35px;
    color: #1C1A1B;
    margin-bottom: 30px;
}
.projects_tad > h4{
    font-weight: normal;
}
h4.project_title_small{
    margin-bottom: 0;
    font-weight: normal;
}
.project_excerpt{
    font-size: 18px;
    line-height: 180%;
    color: #767373;
}
.project_excerpt.project_excerpt_small{
    font-size: 14px;
}
.project_cats{
    position: absolute;
    bottom: 20px;
    left: 25px;
}
.project_cats.project_cats_small{
    position: static;
    display: block;
}
.project_cats.project_cats_for_mob{
    display: none;
}
.project_cats a{
    font-size: 14px;
    line-height: 180%;
    color: #000000;
    background: #F5F5F5;
    border-radius: 2px;
    display: inline-block;
    padding: 0 8px;
}
.project_cats a:not(:last-child){
    margin-right: 10px;
}
.project_left_block{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home_projects_btn{
    display: inline-block;
    margin:130px auto 0;
    padding: 25px 112px;
    background: #fff;
    border: 1px solid #1C1A1B;
    border-radius: 2px;
    font-family: Suisse Intl;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #1C1A1B;
    transition: .2s;
}
.home_projects_btn:hover{
    background: #1C1A1B;
    color: #fff;
}

/* Media  */
@media (max-width: 992px) {
    .service_title{
        flex-basis: 45%;
    }
    .service_description{
        flex-basis: 40%;
    }
    .home_services{
        padding: 300px 0 150px;
    }
    .hidden-for-mob{
        display: none;
    }
}
@media (max-width: 768px) {
    .page_title{
        padding: 30px 0;
    }
    .home_video{
        position: static;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        height: 200px;
        width: 100%;
        margin-top: 30px;
    }
    /* Services */
    .home_services{
        padding: 30px 0;
    }
    .home_services_list li{
        padding: 40px 0;
    }
    .home_services h2.heading.gradient_text{
        font-size: 26px;
        line-height: 30px;   
    }
    .service_icon_block,.service_title,.service_description{
        flex-basis: 100%;
    }
    .service_icon_block div{
        width: 50px;
    }
    .service_title{
        font-size: 16px;
        line-height: 19px;
        padding: 30px 0;
        margin: 0;
    }
    .service_description{
        font-size: 16px;
        line-height: 180%;
        padding-right: 10%;
    }
    /*  Projects */
    .home_projects{
        padding: 30px 0;
    }
    .home_projects_list li.with_thumbnail{
        padding: 40px 0 24px;
    }
    .home_projects_filter_body{
        padding-top: 39px;
    }
    .module{
        font-size: 14px;
        line-height: 180%;
    }
    .video_no_play{
        width: 60px;
        height: 60px;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
    }
    .project_excerpt{
        display: none;
    }
    h4.project_title{
        font-size: 18px;
        line-height: 21px;
        margin: 16px 0;
    }
    .project_cats{
        display: none;
    }
    .project_cats.project_cats_for_mob{
        display: block;
        position: static;
    }
    .project_cats.project_cats_for_mob a,
    .project_cats.project_cats_small a{
        font-size: 10px;
        line-height: 180%;
    }
    .project_cats.project_cats_small{
        margin-top: 43px;
    }
    .home_projects_list li.with_thumbnail.align-content-center{
        padding: 30px 0;
    }
    .home_projects_btn{
        width: 100%;
        font-size: 16px;
        line-height: 19px;
        padding: 20px;
        margin: 30px 12px 0;
    }
    /* Partners */
    .home_partners{
        margin: 56px 0;
    }
    .home_partners .heading{
        margin-bottom: 56px;
    }
    .partners_image{
        max-width: 86px;
        margin: 7.5px 0;
    }
}
@media (max-width: 576px) {
    .service_description{
        padding-right: 0%;
    }
}