.services-body-top{
	padding-top: 58px;
	padding-bottom: 92px;
}
.services-body-top p {
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 40px;
	color: #1C1A1B;
	max-width:755px;
}
.et-services-block{
	border: 1px solid #E5E5E5;
	position: relative;
	overflow: hidden;
}
.et-services-block .et-bg-animated{
    height: 100%;
    width: 200%;
    display: inline-block;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: transparent;
}
.et-services-block > .et-bg-animated-content{
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 168px 20px;
	text-align: center;
	position: relative;
	font-size: 36px;
	color: #000000;
	transition: .2s;
    z-index: 9;
}
.et-services-block > .et-bg-animated-content:after{
	content: '';
	display: inline-block;
	width: 101px;
	height: 9px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-image: url('../../images/icons/services-arrow.svg');
	margin-left: 13px;
}
.et-services-block:hover .et-bg-animated{
    background: linear-gradient(90deg,#FC7D7D 0,#6722FA 100%);
}
.et-services-block:hover > .et-bg-animated-content{
	color: #ffffff;
}
.et-services-block:hover > .et-bg-animated-content:after{
	background-image: url('../../images/icons/services-arrow-hover.svg');
}

/* Media */
@media (max-width: 992px) {
	.services-body-top p{
		margin-top: 30px;
		max-width: 100%;
	}
	.et-services-block{
		margin-bottom: 10px;
	}
	.services-body{
		padding: 0 5px 40px;
	}
	.services-body-bottom{
		margin: 0;
		padding: 0 15px;
	}
}
@media (max-width: 768px) {
	.services-body-top{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.services-body-top p {
		font-size: 16px;
		line-height: 180%;
	}
	.et-services-block > .et-bg-animated-content{
		padding: 40px 15px;
		font-size: 24px;
	}
	.et-services-block > .et-bg-animated-content:after{
		width: 42.29px;
	}
}